<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>新規登録</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<form th:object="${userForm}" th:action="@{/newuser}" th:method="post">
	<table>
		<tr>
			<th>名前</th>
			<td>
				<input type="text" th:field="*{name}">
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>
				<input type="text" th:field="*{email}">
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			</td>
		</tr>
	</table>
	<input type="submit" value="登録">
</form>
<a th:href="@{/users}">ユーザー一覧へ</a>
</body>
</html>